.bg-sign{
    background-image: url('https://media.istockphoto.com/id/1367756024/vector/green-watercolor-background-illustration.jpg?s=612x612&w=0&k=20&c=0NharLiQndU9LeBxt0Lr3RvjngfnUwokM3PhvWqWhV0=');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}